.App {
  height: calc(100vh - 30px);
  width: 100vw;
  padding-top: 30px;
  background-color: cornflowerblue;
  color: white;
  font-size: 2rem;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
